<section class="hero is-info is-bold">
  <div class="hero-body">
      <h2 class="title is-1">
        CryptoProfs
      </h2>
      <h3 class="title">
        Faculty & Staff of the College of ETH
      </h3>

      <div *ngIf="IsOwner">
        <a class="button is-primary" (click)="Withdraw()">Withdraw</a>
        <br>
      </div>
  </div>
</section>

<br>
<div class="container">

	<!-- <img src="assets/prof/0.png" /> -->
	<a *ngFor="let ProfID of DisplayProfs" href="prof/{{ProfID}}" >
		<img src="assets/prof/{{ProfID}}.png" />
	</a>
  
<br>
<br>

  <a (click)="LoadMore()">Load More!</a>
</div>

<br/>
<br/>